@page
@model dot_net_qtec.Pages.Admin.Users.IndexModel
@{

    <div class="d-flex justify-content-between align-items-center">
        <h1>User List</h1>
        <a class="btn btn-primary" asp-page="Create">Create</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>User Name</td>
                <td>Role Name</td>
                <td>Action</td>
            </tr>
            @foreach (var User in @Model.Users)
            {
                <tr>
                    <td>@User.FirstName</td>
                    <td>@User.LastName</td>
                    <td>@User.Email</td>
                    <td>@User.UserName</td>
                    <td>@User.RoleName</td>
                    <td><a class="btn btn-primary" asp-page="Edit" asp-route-id="@User.Id">Edit</a></td>
                </tr>
            }

        </tbody>
    </table>
}
