@page
@model dot_net_qtec.Pages.Admin.Users.IndexModel
@{

    <table class="table">
        <tbody>
            @foreach (var User in @Model.Users)
            {
                <tr>
                    <td>@User.FirstName</td>
                    <td>@User.LastName</td>
                    <td>@User.Email</td>
                    <td>@User.UserName</td>
                    <td><a class="btn btn-primary" asp-page="Edit" asp-route-id="@User.Id">Edit</a></td>
                </tr>
            }

        </tbody>
    </table>
}
